* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: url("./header.jpg") top center / cover;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 850px;
    height: 300px;
    margin: 0 auto;
}

.avatar {
    margin-top: 25px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: url("./Lyubash.jpg") top center / cover;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.user-info {
    margin-top: 45px;
    text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: left;
}

.user-info h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}

.user-info h4 {
    font-size: 30px;
    font-weight: 100;
    margin-top: 10px;
}

.user-info p {
    margin-top: 20px;
    text-align: right;
}

.resume-container {
    background-color: #51979722;
}

.resume-header {
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 900;
}

.content-container {
    padding-bottom: 50px;
}

.content-container h1 {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Train One', cursive;
}

.work-block {
    padding: 50px 80px 0;
    font-family: 'Raleway', sans-serif;
}

.work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #397fa0;
}

.work-block .date {
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.company-name {
    font-weight: 900;
    font-style: italic;
    text-align: right;
}

.work-description {
    margin-top: 10px;
    width: 100%;
    font-style: italic;
}

.work-description li {
    font-size: 20px;
    margin-top: 10px;
    list-style: none;
    position: relative;
}

.work-description li::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #397fa0;
    left: -20px;
    top: 7px;
}

.skills {
    padding: 50px 80px 0;
    font-size: 20px;
}

.profile {
    padding: 50px 80px 0;
    font-size: 20px;
}

.profile li {
    font-size: 20px;
    margin-top: 10px;
    list-style: none;
    position: relative;
    font-style: italic;
}

.profile li::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #397fa0;
    left: -20px;
    top: 7px;
}

.education-block {
    padding: 50px 80px 0;
    font-family: 'Raleway', sans-serif;
}

.education-header {
    display: flex;
    align-items: center;
    color: #397fa0;
    justify-content: center;
}

.education-block .date {
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.education-name {
    font-size: 20px;
    font-style: italic;
    padding-left: 40px;
    color: black;
    width: 40%;
}